* {
	font-family: 'EB Garamond', serif;
	font-size: 1.1rem;
	transition: 0.5s ease-in-out;
}
body {
	overflow-x: hidden;
}
header, .container-fluid.rates {
	background-image: url("../images/sky.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 120vh;
}
header h1 {
	font-size: 3.25rem;
}
h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: 'Julius Sans One', sans-serif;
}
hr {
	color: #efcdc1;
}
a:hover {
	text-decoration: none;
}
i.fa {
	display: block;
	font-size: 4rem;
}
.navbar-toggler-icon i.fa {
	font-size: 1.65rem;
}
.navbar-toggler:hover {
	background-color: #FFF;
}
.navbar-toggler:hover .navbar-toggler-icon i.fa {
	color: #363C3D;
}
.nav-item, .nav-item a {
	transition: 0.3s ease-in-out;
}
.nav-item:nth-child(1):hover {
	background-color: #adcddc;
}
.nav-item:nth-child(2):hover {
	background-color: #addcb9;
}
.nav-item:nth-child(3):hover {
	background-color: #e4e4a4;
}
.nav-item:nth-child(4):hover {
	background-color: #dcc2ad;
}
.nav-item:nth-child(5):hover {
	background-color: #d6addc;
}
.nav-item:hover {
	padding: 1%;
}
.nav-item:hover a {
	color: #222;
}
.intro {
	position: relative;
	min-height: 8vh;
}
.headline{
	position: absolute;
	top: 57%;
	right: 10%;
}
.headline-underlay {
	position: absolute;
    top: 53%;
    right: -10vw;
    height: 225px;
    width: 1100px;
    background-color: rgba(180,199,222,0.6);
}
@media (max-width:767px) {
	.headline-underlay {
		height: 300px;
	}
}
@media (max-width:500px) {
	.headline-underlay {
		height: 407px;
	}
}
.text-white a {
	color: #fff;
}
.bg-green {
	background-color: #ceedee;
}
.bg-blue {
	background-color: #92c0ca;
}
.bg-lightred {
	background-color: #efcdc1;
}
.bg-red {
	background-color: #e68c6c;
}
.bg-darkblue {
	background-color: #363c3d;
}
.indent {
	text-indent: 30px;
	padding-left: 30px;
}
.nowrap {
	white-space: nowrap;
}
.reviews {
	transition: 0.3s ease;
}
.reviews:first-child:hover {
	background-color: rgba(93,171,239,0.7);
}
.reviews:nth-child(2):hover {
	background-color: rgba(230,69,69,0.7);
}
@media (max-width:650px) {
	.reviews h3 {
		font-size: 1rem;
	}
}
@media (max-width:500px) {
	.reviews #genbook {
		max-height: 5.5rem;
	}
	.reviews #genbook, .reviews:first-child h3  {
		position: relative;
		top: 12px;
	}
}
@media (max-width:450px) {
	.reviews #genbook {
		right: 15px;
	}
	.reviews:first-child h3  {
		right: 10px;
	}
	.reviews:nth-child(2) i {
		position: relative; 
		right: 5px;
	}
	.reviews:nth-child(2) h3 {
		position: relative;
		top: 4px;
	}
}
@media (max-width:390px) {
	.reviews #genbook {
		right: 20px;
	}
	.reviews:first-child h3  {
		right: 15px;
	}
	.reviews:nth-child(2) i {
		position: relative; 
		right: 12px;
	}
}
.aboutMe {
	position: relative;
	top: 100px;
}
.rate {
	border-radius: 60px;
}
.rate h3, .rate h4 {
	position: relative;
	top: 20%;
	transition: 0.2s ease;
}
.hover-hidden {
	opacity: 0;
}
.rate:hover h3, .rate:hover h4 {
	transform: scale(1.2);
	top: 0;
}
.rate:hover .hover-hidden {
	opacity: 1;
	font-size: 1.5rem;
}
.testimonials a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.grid img:nth-child(3) {
	mix-blend-mode: screen;
}
.container-fluid.rates {
	background-image: url("../images/woodtexture.jpg");
	/*background-position: right bottom;*/
	min-height: 75vh;
	position: relative;
}
.container-fluid.rates h1 {
	/*position: absolute;
	padding: 20px 450px;*/
	background-color: rgba(255,255,255,0.6);
	/*top: 55%;
	left: -10%;*/
	mix-blend-mode: hard-light;
	position: relative;
	right: 15vw;
	top: 20vw;
}
.container-fluid.testimonials #mural {
	/*max-height: 50%;*/
	height: 100%;
	object-fit: cover;
	object-position: 50% 100%;
	mix-blend-mode: overlay;
}
.bg-img {
	background-image: url(../images/mural.jpg);
    background-size: cover;
    background-position: 50%;
    background-blend-mode: saturation;
}
.woodsOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #b6d8ff;
	mix-blend-mode: hard-light;
	opacity: 0.4;
}
.container-fluid.testimonials #woods {
	height: 100%;
	object-fit: cover;
	object-position: center center;
	mix-blend-mode: hard-light;
}
.modalBtn {
	background: none;
	display: block;
}
.modal-body p {
	white-space: pre-wrap;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 0.85rem;
}
.modal-body a:hover {
	cursor: pointer;
}
.bookBtn:hover {
	transform: scale(1.2);
}
.midDot {
	position: relative;
	top: 4px;
}
.technique {
	min-height: 480px;
}
#therapeutic {
	position: absolute;
	top: -190px;
	left: 50%;
	transform: translateX(-50%);
	border-right: 0px solid #efcdc1;
}
#therapeutic:hover {
	border-right: 5px solid #efcdc1;
}
#therapeutic h4:before {
    content: '';
    display:block;
    position: relative;
    top: 35px;
    width: 0%;
    height: 3px;
    left: 0;
    background-color: #efcdc1;
    transition: width 0.3s ease-in-out;
}
#therapeutic h4:after {
    content: '';
    display: block;
    position: relative;
    top: 4px;
    width: 50%;
    height: 2px;
    right: 0;
    background-color: #efcdc1;
    transition: width 0.3s ease-in-out 0.15s;
}
#therapeutic:hover h4:before {
    width: 100%;
    transition: 0.3s ease-in-out 0.15s;
}
#therapeutic:hover h4:after {
    width: 0;
    right: 0;
    transition: 0.3s ease-in-out;
}
#booking {
	background-image: url("../images/metaltexture.jpg");
	background-size: cover;
	background-repeat-y: no-repeat;
	background-blend-mode: exclusion;
	/*border-top: 150px solid #363c3d;*/
	background-attachment: fixed;
}
#customers {
	position: absolute;
	top: 75%; left: 0;
	transform: translateY(-50%);
}
#ulysses {
	border: 12px solid #FFF;
}
#genbook {
	max-height: 6rem;
}
#genbook2 {
	position: relative;
	bottom: 4px;
	max-width: 46px;
	transition: 0.3s ease;
}
#contact {
	min-height: 45vh;
}
#contact i.fa {
	font-size: 1.5rem;
	transition: 0.3s ease;
}
#contact li:hover i.fa, #contact li:hover a img {
	transform: scale(1.8);
}
#contact button {
	font-size: 1.5rem;
	transition: 0.3s ease;
	color: #FFF;
}
#contact button:hover {
	transform: scale(1.2);
	background-color: #FFF;
	color: #e68c6c;
}
#getInTouch h4 {
	max-width: 30%;
	margin: 0 auto;
	transition: 0.3s ease;
}
#getInTouch:hover h4{
	transform: scale(1.2);
	background-color: #FFF;
	color: #0a2d35;
}
#booking h3, #booking h4 {
	font-family: 'EB Garamond', serif;
}
#map {
	min-height: 350px;
}
.carousel-inner {
	min-height: 250px;
}
@media (max-width: 540px) {
	.carousel-inner {
		min-height: 300px;
	}
	#carousel2Indicators .carousel-inner {
		min-height: 330px;
	}
}
@media (max-width: 475px) {
	#carousel2Indicators .carousel-inner {
		min-height: 370px;
	}
}
@media (max-width: 400px) {
	.carousel-inner {
		min-height: 330px;
	}
}
.carousel-item {
	margin-top: 40px;
}
.carousel-item p {
	max-width: 75%;
	margin: 0 auto;
	font-style: italic;
	font-size: 1.5rem;
}
.carousel-control-next-icon {
	position: absolute;
    right: 0;
}
.carousel-control-prev-icon {
	position: absolute;
    left: 0;
}